@import "../../styleUtils/variables.scss";

.banner {
  height: 80px;
  width: 100%;
  background-color: $dark-blue;
  display: flex;
  font-size: 20px;
  position: fixed;
  align-items: center;
  -webkit-box-shadow: -1px 2px 18px -4px $light-pink;
  box-shadow: -1px 2px 18px -4px $light-pink;
  z-index: 999;

  h1 {
    margin: auto;
    letter-spacing: 0.25em;
    font-family: serif;
    font-weight: lighter;
    color: ivory;
    text-shadow: 0 0 4px $purple, 0 0 2px $purple, 0 0 5px $purple;
  }
}
