@import "../../styleUtils/variables.scss";

.aboutPicWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__pic {
    &-min {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .aboutPicWrapper {
    display: none;
  }
}
