@import "../variables.scss";

.aboutPage {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
   .aboutPage{
    grid-template-columns: 100%;
   }
}