@import  "../styleUtils/variables.scss" ;

.aboutPage {
  &__container {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 1000px) {
  .aboutPage {
    &__container {
      grid-template-columns: 100%;
    }
  }
}

@media screen and (max-width: $medium-break) {
  .aboutPage {
    &__container {
      margin-left: 0;
    }
  }
}
