.contactPage {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;

  &__greeting {
    grid-column: 1 / span 2;
    text-align: center;
    width: 90%;
  }

  &__bottomHalf {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    width: 90%;
    margin: auto;
    
    img {
      width: 100%;
    }
  }
}
