@import "../variables.scss";

.contactPage {
  display: grid;
  grid-template-columns: 42% 58%;
  align-items: center;
  margin-left: 10%;

  &__greeting {
    grid-column: 1 / span 2;
    text-align: center;
    width: 90%;
    margin-bottom: 40px;
  }

  &__bottomHalf {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    width: 90%;
    margin: auto;
    
    img {
      width: 100%;
    }
  }
}


@media  screen and (max-width: $large-break) {
  .contactPage{
&__greeting{
  width: 100%;
}
  &__bottomHalf {
    grid-template-columns: 100%;

    img{
      width: 40%;
      margin: auto;
      margin-bottom: 10px;
    }
  }
}
  
}