@import "./../variables.scss";

.homePage {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and (max-width: 862px) {
  .homePage {
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
    margin-top: 40px;
  }
}

@media screen and (max-width: $medium-break) {
  .homePage {
    margin-top: 40px;
    left: 0;
  }
}


