.homePicWrapper {
  display: flex;
  align-items: center;

  img {
    width: 90%;
    animation: fade-in 6s 1s forwards;
    opacity: 0;
  }
}

@media screen and (max-width: 862px) {
  .homePicWrapper {
    width: 100%;
    justify-content: center;

    img {
      width: 60%;
    }
  }
}
