.homePicWrapper {
  display: flex;
  align-items: center;

  img {
    width: 90%;
    animation: fade-in 5s 1s forwards;
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@media screen and (max-width: 862px) {
  .homePicWrapper {
    width: 100%;
    justify-content: center;

    img {
      // width: max-content
      width: 60%;
      // height: 100%;
    }
  }
}
