@import "../../variables.scss";

.homeContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;  
    width: 100%;
    overflow-x: hidden;

    p{
        margin-top: 0;
    }

    &__heading{
        font-size: 40px;
        margin-bottom: 10px ;
        margin-top: 20px;
        text-align: center;
    }

    p:nth-last-child(2){
        font-size: 35px;
    }

    &__name {
        font-family: $herr;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 5px;
        margin-bottom: 0px;
    }
    
    &__pronounce{
        color: ivory;
        margin-left: 20%;
        margin-bottom: 70px;
        font-size: 20px;
        font-family: serif;
        letter-spacing: 1px;
    }

    &__explanations{
        font-size: 20px;
        color: ivory;
        display: block; 
    }

    &__slideIn {
        &-first{
            animation: slide-in 1s forwards;
            visibility: hidden;
        }

        &-second{
            animation: slide-in 1s 1s forwards;
            visibility: hidden;
        }

        &-second{
            animation: slide-in 1s 1s forwards;
            visibility: hidden;
        }

        &-third{
            animation: slide-in 1s 2s forwards;
            visibility: hidden;
        }
    }
}


@keyframes slide-in {
    from {margin-left: 150%; width: 100%; visibility: hidden;}
    to { width: 95% ; visibility: visible; }
    
}

@media screen and (max-width: 862px) {
    .homeContent {
        height: max-content;
        width: 90%;
        margin: auto;
        margin-top: 20px;

        &__name{
            text-align: center;
            font-size: 50px;
        }
        
        &__pronounce{
            margin-left: 40%;
            margin-bottom: 0px;
            font-size: 18px;
        }

        &__heading{
            text-align: left;
            padding-top: 20px;
            font-size: 35px;
        }

        p:nth-last-child(2){
            font-size: 30px;
        }

        &__explanations{
            margin:0;
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 550px) {
    .homeContent {
        &__name{
            font-size: 40px;
        }

        &__heading{
            font-size: 25px;
            text-align: center;
        }

        p:nth-last-child(2){
            font-size: 23px;
        }

        &__pronounce{
            margin-left: 20%;
        }

        &__explanations{
            margin-left: 0;     
        }
    }
}