.homePicWrapper{
    display: flex;
    align-items: center;

    img{
        width: 100%;
    }
}

@media screen and (max-width: 862px){
    .homePicWrapper{
        width: 100%;
        justify-content: center;

       img{
           width: initial;
           height: 100%;

       }
       
    }
}

