@import "../../variables.scss";

.homeContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    p{
        margin-top: 0;
    }

    &__heading{
        font-size: 45px;
        margin-bottom: 10px ;
        margin-top: 20px;
        text-align: center;
        animation: slide-in 1s 2s forwards;;
        visibility: hidden;
    }

    &__name {
        font-family: $herr;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 5px;
        margin-bottom: 0px;
        animation: slide-in 1s forwards;
        visibility: hidden;
    }
    
    &__pronounce{
        color: ivory;
        margin-left: 20%;
        margin-bottom: 70px;
        font-size: 20px;
        animation: slide-in 1s 1s forwards;
        visibility: hidden;  

    }

    &__explanations{
        font-size: 20px;
        animation: slide-in 1s 3s forwards;
        visibility: hidden;
    }
}

@keyframes slide-in {
    from {margin-left: 150%; width: 300%; visibility: hidden;}
    to { width: 100% ; visibility: visible; }
    
}

@media screen and (max-width: 862px) {
    .homeContent {
        height: max-content;

        &__name{
            text-align: center;
            font-size: 50px;
        }
        
        &__pronounce{
            margin-left: 40%;
            margin-bottom: 0px;
            font-size: 18px;
        }

        &__heading{
            text-align: left;
            margin-left: 5%;
            padding-top: 20px;
            font-size: 35px;

        }

        &__explanations{
            margin:0;
            margin-left: 40%;
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 550px) {
    .homeContent {
    
        &__name{
            font-size: 40px;
        }

        &__heading{
            font-size: 25px;
            text-align: center;
        }

        &__pronounce{
            margin-left: 20%;
        }

        &__explanations{
            margin-left: 20%;
        }
    }
}