@import "../variables.scss";

.contactFormSection {
  display: flex;
  align-items: center;
  justify-content: center;
  color: ivory;
  font-family: serif;
  // letter-spacing: 1px;
  font-size: 18px;

  &__card {
    background-color: $light-blue;
    border-radius: 8px;
    width: 80%;

    p {
      text-align: center;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    align-items: center;

    label {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    input,
    textarea {
      width: 70%;
    }

    textarea {
      height: 100px;
      margin-bottom: 20px;
    }

    button {
      width: max-content;
      height: 30px;
      background-color: $dark-blue;
      color: $purple;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: ivory;
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__message {
    display: none;

    &-sent,
    &-error {
      display: block;
      background-color: $dark-blue;
      color: white;
      border-radius: 8px;
      width: 70%;
      padding: 8px;
      position: relative;
      margin-top: 20px;
      text-align: center;

      &:before {
        content: "";
        position: absolute;
        margin-top: -6px;
        margin-left: -50%;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $dark-blue;
        right: 15px;
        right: 100%;
        left: 100%;
        top: -6px;
      }
    }
  }
}



@media  screen and (max-width: 1200px) {
.contactFormSection {
  &__card{
    width: 90%;
  }
}

}