@import "../variables.scss";

.footer{
    color: ivory;
    font-family: serif;
    background-color: $dark-blue;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // z-index: 1;

}

@media screen and (max-width: $medium-break) {
    .footer{
        display: none;
        // height: 25px;
        // position: fixed;
        // padding-bottom: 80px;
    }
}