@import "../variables.scss";

.projectCard{
    width: 80%;
    margin-bottom: 100px;
    margin-right: 10%;

    &__title{
        width: 95%;
        display: flex;
        justify-content: space-between;
        
        p{
            font-size: 40px;
            margin: 0;
            margin-bottom: 10px;
        }

        a{
            font-size: 30px;
            margin-left: 10px;
            margin-top: 15px;
        }
    }

    &__summary{
        position: relative;
        margin-bottom: 20px;

        img{
            width: 100%;
            border-radius: 4px;
        }
    
        span{
            border-radius: 4px;
            color: ivory;
            font-family: serif;
            letter-spacing: 1px;
            font-size: 18px;    
            display: block;
            position: absolute;
            padding: 10px;
            height: max-content;
            bottom: 0px;
            background-color: $dark-blue;
            -webkit-box-shadow: -1px 2px 18px -4px $light-pink;
            box-shadow: 0px 2px 25px -4px $light-pink;
        }
    }

    &__tech{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }


}

@media screen and (max-width: 1000px){
    .projectCard{
        width: 90%;
        margin-right: 0;
    }
}