@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

$courgette: 'Courgette', cursive;

html, body, .root {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a{
  text-decoration:none;
}

html {
  background: #010920;
  position: relative;
  height: 100vh;
  font-family: $courgette;

  &:before {
      content: "";
      background-image: url(assets/sparkle.gif);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.50;
      z-index: -1;
  }
}