@import "./variables.scss";

html,
body,
.root {
  margin: 0;
  padding: 0;
  color: $light-pink;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $light-pink;
  display: inline-block;

  &:hover {
    color: ivory;
    text-shadow: $bright-hover;
    display: inline-block;
    transform: scale(1.1);
  }
}

html {
  background: $dark-blue;
  position: relative;
  height: 100vh;
  font-family: $courgette;

  &:before {
    content: "";
    background-image: url(assets/sparkle.gif);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
  }
}
