html, body, .root {
  margin: 0;
  padding: 0;
}

html {
  background: #010920;
  position: relative;
  height: 100vh;

  &:before {
      content: "";
      background-image: url(assets/sparkle.gif);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.50;
      z-index: -1;
  }
}