@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

$courgette: 'Courgette', cursive;
$dark-blue: #010920;
$light-blue: rgb(1, 35, 86,0.3);
$light-pink: #e9d3d7;
$box-shadow: #00040e;
$bright-hover:  0 0 1px #fff;

$large-break: 800px;
$mid-largeBreak: 700px ;
$medium-break: 600px