@import "../../../variables.scss";

.topNav {
  height: 80px;
  width: 100%;
  background-color: $dark-blue;
  display: flex;
  font-size: 20px;
  position: fixed;
  align-items: center;
  -webkit-box-shadow: -1px 2px 18px -4px $light-pink;
  box-shadow: -1px 2px 18px -4px $light-pink;

  z-index: 999;

  &__collapsedMenuIcon {
    display: none;
  }

  &__logo {
    height: 80px;
    display: inline-block;
    img {
      height: 100%;
    }

    &:hover {
      transform: scale(1);
    }
  }

  &__menuItems {
    width: 100%;

    ul {
      width: 98%;
      display: flex;
      justify-content: space-around;
      justify-content: center;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid $light-pink;
      border-bottom: 1px solid $light-pink;

      li {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $large-break) {
  .topNav {
    font-size: 17px;
  }
}

@media screen and (max-width: $mid-largeBreak) {
  .topNav {
    font-size: 16px;
  }
}

@media screen and (max-width: $medium-break) {
  .topNav {
    width: max-content;
    -webkit-box-shadow: -1px 10px 15px -4px rgba(233, 211, 215, 0.2);
    box-shadow: -1px 10px 15px -4px rgba(233, 211, 215, 0.2);

    ul {
      margin: 0;
      border-bottom: 1px solid rgba(233, 211, 215, 0.2);
      -webkit-box-shadow: -1px 10px 15px -4px rgba(233, 211, 215, 0.2);
      box-shadow: -1px 10px 15px -4px rgba(233, 211, 215, 0.2);
    }
    &__listItems {
      border-top: 1px solid rgba(233, 211, 215, 0.2);
      padding: 20px;
    }

    &__menuItems {
      display: none;

      &-active {
        display: block;
        position: absolute;
        top: 0;
        padding-top: 80px;
        z-index: -1;
        width: 100vw;
        background-color: $dark-blue;
      }
    }

    &__collapsedMenuIcon {
      display: flex;
      background-color: $dark-blue;
      color: $purple;
      font-size: 30px;
      width: 40px;
      height: 100%;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }

    &__openMenuIcon {
      color: $purple;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
