@import "../../variables.scss";

.bottomNav {
  display: none;
  color: $light-pink;
  background-color: $dark-blue;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 20px;
}

@media screen and (max-width: $medium-break) {
  .bottomNav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    &__collapsed {
      width: 98%;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid ivory;
      border-bottom: 1px solid ivory;
    }

    &__collapsedInfo,
    &__collapsedContact {
      width: 48%;
      text-align: center;
      display: inline-block;

      span {
        cursor: pointer;

        &:hover {
          color: ivory;
          text-shadow: $bright-hover;
          display: inline-block;
          transform: scale(1.1);
        }
      }
    }

    &__info,
    &__contact {
      display: none;

      &-active {
        display: block;
        position: absolute;
        bottom: 80px;
        background-color: $dark-blue;
        width: 100%;
        text-align: center;

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;

          &:first-child{
            margin-top: 20px;
          }
        }

        li {
          margin-bottom: 18px;
          background-color: $light-blue;
          padding: 5px;
          border-radius: 8px;
          width: 90%;
          -webkit-box-shadow: 2px 2px 6px -3px $light-pink;
          box-shadow: 2px 2px 6px -3px $light-pink;

          a{
            display: block;
            width: 100%;
          }
          
          &:hover{
            display: inline-block;
          }

          &:active{
            transform: translateY(2px);
          }
        }
      }
    }
  }
}
