@import "../../variables.scss";

.topNav {
  height: 80px;
  width: 100%;
  background-color: $dark-blue;
  display: flex;
  font-size: 20px;
  position: relative;
  align-items: center;
  -webkit-box-shadow: -1px 2px 18px -4px ivory;
  box-shadow: -1px 2px 18px -4px ivory;

  &__logo {
    height: 80px;
    display: inline-block;
    img {
      height: 100%;
    }
  }

  &__menuItems {
    width: 100%;

    ul {
      width: 98%;
      display: flex;
      justify-content: space-around;
      justify-content: center;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid ivory;
      border-bottom: 1px solid ivory;

      li {
        width: 100%;

        a {
          color: $light-pink;

          &:hover {
            color: ivory;
            text-shadow: $bright-hover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $large-break) {
  .topNav {
    font-size: 17px;
  }
}

@media screen and (max-width: $medium-break) {
  .topNav {
    display: none;
  }
}
